<div class="container-fluid">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
            <h2>Crud com Angular</h2>
	      </a>
	    </div>
	  </div>
	</nav>
  <nav class="opcoes">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/users" title="Listar" alt="Listar" class="btn btn-xs"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Lista de usuários </a>
      </li>
      <li>
        <a routerLink="/users/create" title="Criar" alt="Criar" class="btn btn-xs"> 
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Criar novo usuário </a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>